/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

header {
  text-align: center;
}

body {
  background-color: #115ff4;
  text-wrap: wrap;
  text-align: center;
}

.table-row {
  height: 10em;
}

td {
  border: 2px solid black !important;
  width: 15em;
}